@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --blue: #123456;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#153555 40%,rgb(41, 137, 226) 60%);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}

.sidebar .logo_content .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar .logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px; 
}


.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

.sidebar .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}


.profile .profile_details .name_job {
    margin-left: 10px;
}


.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    left: 95%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}

/*main*/

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;

    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

.cardBox {
    position: relative;
    width: 100%;
    height: 25%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: white;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #11101d;
}

.cardBox .card .cardName {
    color: #3b3b3b;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5em;
    color: #5a5959;
}

.cardBox .card:hover {
    background: #11101d;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: white;
}


.bookings {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    margin-top: 10px;
}

.bookings .recentBookings {
    position: relative;
    display: grid;
    min-height: 500px;
    background: white;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    padding: 20px;
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.cardHeader h2 {
    font-weight: 600;
    color: #11101d;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: #11101d;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.bookings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bookings table thead td {
    font-weight: 600;
}

.bookings .recentBookings table tr {
    color: #11101d;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.bookings .recentBookings table tr:last-child {
    border-bottom: none;
}

.bookings .recentBookings table tbody tr:hover {
    background: #11101d;
    color: white;
}

.bookings .recentBookings table tr td {
    padding: 10px;
}

.bookings .recentBookings table tr td:last-child {
    text-align: end;
}

.bookings .recentBookings table tr td:nth-child(2) {
    text-align: strat;
}

.bookings .recentBookings table tr td:nth-child(1) {
    text-align: start;
}

.bookings .recentBookings table tr td:nth-child(3) {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}





